.font-example {
  color: var(--ws-white);
  background: var(--ws-gray-light);
  border-radius: 6px;
  font-weight: 800;
  line-height: 220px;
  font-size: 72px;
  text-align: center;
  margin-top: 32px;
}

.example {
    margin-bottom: 55px;
    margin-top: 32px;
    padding-top: 24px;

  &__title {
    margin-left: 24px;
    margin-bottom: 15px;
  }

  &__code {
    background: var(--ws-gray-bg);
    border-radius: 6px;
    padding: 21px 60px 24px 24px;
  }
}

