<ws-page title="Typography">
  <div class="page__subtitle ws-text-l">
    Is the art and technique of arranging.
  </div>
  <div class="page__text page-block__text ws-text-s">
    Standard text. Our current centralized wallet solution makes it easier than
    ever for our users to purchase tokens from ongoing, upcoming, and concluded
    ICOs, as long as they are endorsed by our law offices and confirmed to be
    good investments.
  </div>
  <div class="page__subheader ws-h3">WINGS’s fonts in use</div>
  <div class="font-example">Nunito Sans</div>
  <div class="page__subheader ws-h3">Web typography</div>
  <div class="page__subtitle ws-text-l">
    These are base styles for typography used in Web Marketing.
  </div>
  <div class="examples-typography">
    <div class="example">
      <div class="example__title ws-h1">H1 Header</div>
      <div class="example__code ws-text-s">
        h1 &#123; font-family: 'Work Sans'; font-weight: 500; font-size: 52px;
        line-height: 60px; color: #253858; margin-bottom: 24px; &#125;
      </div>
    </div>
    <div class="example">
      <div class="example__title ws-h2">H2 Subheader</div>
      <div class="example__code ws-text-s">
        h1 &#123; font-family: 'Work Sans'; font-weight: 500; font-size: 52px;
        line-height: 60px; color: #253858; margin-bottom: 24px; &#125;
      </div>
    </div>
    <div class="example">
      <div class="example__title ws-h3">H3 Subheader</div>
      <div class="example__code ws-text-s">
        h1 &#123; font-family: 'Work Sans'; font-weight: 500; font-size: 52px;
        line-height: 60px; color: #253858; margin-bottom: 24px; &#125;
      </div>
    </div>
  </div>
</ws-page>
