<h1 class="page__title page-block__title ws-h1">Footer</h1>
<ws-demo html='
  <ws-footer>
    <a href="" ws-footer-item>Blog</a>
    <a href="" ws-footer-item>Foundation</a>
    <a href="" ws-footer-item>Whitepaper</a>
    <a href="" ws-footer-item>Support</a>
    <a href="" ws-footer-item>Forum</a>
    <a href="" ws-footer-item>Wiki</a>
    <a href="" ws-footer-item>Terms </a>
    <a href="" ws-footer-item>Get help</a>
    <div ws-footer-copyright>© 2018 WINGS. All rights reserved.</div>
  </ws-footer>
'>
  <ws-footer>
    <a href="" ws-footer-item>Blog</a>
    <a href="" ws-footer-item>Foundation</a>
    <a href="" ws-footer-item>Whitepaper</a>
    <a href="" ws-footer-item>Support</a>
    <a href="" ws-footer-item>Forum</a>
    <a href="" ws-footer-item>Wiki</a>
    <a href="" ws-footer-item>Terms </a>
    <a href="" ws-footer-item>Get help</a>
    <div ws-footer-copyright>© 2018 WINGS. All rights reserved.</div>
  </ws-footer>
</ws-demo>
