<h1 class="page__title page-block__title ws-h1">Search</h1>

<ws-demo html='
  <ws-search [(ngModel)]="value" placeholder="Search ..."></ws-search>
' ts='
  ...
  class ExampleComponent {
    value = "";
  }
'>
  <ws-search [(ngModel)]="value" placeholder="Search ..."></ws-search>
  <p><code>value: {{value}}</code></p>
</ws-demo>
<ws-demo html='
  <ws-search [(ngModel)]="value" placeholder="Search ..." size="m"></ws-search>
' ts='
  ...
  class ExampleComponent {
    value = "";
  }
'>
  <ws-search [(ngModel)]="value" placeholder="Search ..." size="m"></ws-search>
  <p><code>value: {{value}}</code></p>
</ws-demo>
<ws-demo html='
  <ws-search [(ngModel)]="value" placeholder="Search ..." size="s"></ws-search>
' ts='
  ...
  class ExampleComponent {
    value = "";
  }
'>
  <ws-search [(ngModel)]="value" placeholder="Search ..." size="s"></ws-search>
  <p><code>value: {{value}}</code></p>
</ws-demo>