:root {
  --ws-black: #26282A;
  --ws-gray-dark: #69737D;
  --ws-gray-light: #D4DEE4;
  --ws-gray-bg: #FAFAFA;
  --ws-white: #FFFFFF;


  --ws-blue: #00B3DC;
  --ws-blue-light: #00D1FF;
  --ws-blue-dark: #0099BC;


  --ws-red: #FF5175;
  --ws-red-light: #FF8CA4;
  --ws-red-dark: #CE3454;


  --ws-green: #2CBF70;
  --ws-green-light: #23F546;
  --ws-green-dark: #21A837;
}
