<h1 class="page__title page-block__title ws-h1">Icons</h1>
<ws-demo
  html='
  <ws-icon (click)="onClick()" svgPath="/assets/svg/icons/close.svg"></ws-icon>
  <ws-icon
    (click)="onClick()"
    svgPath="/assets/svg/icons/close.svg"
    size="m"
  ></ws-icon>
  <ws-icon
    (click)="onClick()"
    [svgPath]="&apos;/assets/svg/icons/close.svg&apos;"
    size="s"
  ></ws-icon>
'
>
  <p>Icon</p>
  <ws-icon (click)="onClick()" svgPath="/assets/svg/icons/close.svg"></ws-icon>
  <ws-icon
    (click)="onClick()"
    svgPath="/assets/svg/icons/close.svg"
    size="m"
  ></ws-icon>
  <ws-icon
    (click)="onClick()"
    [svgPath]="'/assets/svg/icons/close.svg'"
    size="s"
  ></ws-icon>
</ws-demo>
