<h1 class="page__title page-block__title ws-h1">Icons</h1>
<ws-demo
  html='
  <ws-icon
    (click)="onClick()"
    svgPath="/assets/svg/icons/close.svg"
  ></ws-icon>
'
>
  Default size icon
  <ws-icon
    (click)="onClick()"
    svgPath="/assets/svg/icons/close.svg"
  ></ws-icon>
</ws-demo>

<ws-demo
  html='
  <ws-icon
    (click)="onClick()"
    svgPath="/assets/svg/icons/close.svg"
    size="medium"
  ></ws-icon>
  '
>
  Medium size icon
  <ws-icon
    (click)="onClick()"
    svgPath="/assets/svg/icons/close.svg"
    size="medium"
  ></ws-icon>
</ws-demo>
<ws-demo
  html='
  <ws-icon
    (click)="onClick()"
    [svgPath]="&apos;/assets/svg/icons/close.svg&apos;"
    size="small"
  ></ws-icon>
'
>
  Small size icon
  <ws-icon
    (click)="onClick()"
    [svgPath]="'/assets/svg/icons/close.svg'"
    size="small"
  ></ws-icon>
</ws-demo>
