<h1 class="page__title page-block__title ws-h1">Header</h1>
<ws-demo html='
<ws-nav-bar>
  <a href="/" ws-nav-bar-logo>
    <img src="/assets/svg/menu-brand.svg"/>
  </a>
  <a href="/" ws-nav-bar-item ws-left>Evaluate</a>
  <a href="/" ws-nav-bar-item ws-left>Fund</a>
  <a href="/" ws-nav-bar-item>My projects</a>
  <a href="/" ws-nav-bar-item>My wallet</a>
</ws-nav-bar>
'>
  <ws-nav-bar>
    <a href="/" ws-nav-bar-logo>
      <img src="/assets/svg/menu-brand.svg"/>
    </a>
    <a href="/" ws-nav-bar-item ws-left>Evaluate</a>
    <a href="/" ws-nav-bar-item ws-left>Fund</a>
    <a href="/" ws-nav-bar-item>My projects</a>
    <a href="/" ws-nav-bar-item>My wallet</a>
  </ws-nav-bar>
</ws-demo>


