<h1 class="page__title page-block__title ws-h1">Radio</h1>
<ws-demo
  code='
  <ws-radio-group [(selected)]="selected" name="myOption">
    <ws-radio value="1">option 1</ws-radio>
    <ws-radio value="2">option 2</ws-radio>
    <ws-radio value="3">option 3</ws-radio>
  </ws-radio-group>
  '
>
  <ws-radio-group [(selected)]="selected" name="myOption">
    <ws-radio value="1">option 1</ws-radio>
    <ws-radio value="2">option 2</ws-radio>
    <ws-radio value="3">option 3</ws-radio>
  </ws-radio-group>
  selected: <code>{{selected}}</code>
</ws-demo>

