<div class="menu menu-components">
    <div class="menu__title menu__item">Atoms</div>
    <ul class="menu__inner">
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Input">Input fields</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Button">Button</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Checkbox">Checkbox</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Tabs">Tabs</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Switch">Switch</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Transaction">Transaction</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Radio">Radio</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.RadioButton">Radio button</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Icon">Icons</a></li>
      <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Help">Help</a></li>
    </ul>
  <div class="menu__title menu__item">Molecules</div>
  <ul class="menu__inner">
    <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Searchbar">Searchbar</a></li>
    <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Table">Table</a></li>
    <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.HeaderNavigation">Header</a></li>
    <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Footer">Footer</a></li>
    <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Title">Title</a></li>
  </ul>
  <div class="menu__title menu__item">Organisms</div>
  <ul class="menu__inner">
    <li class="menu__item" routerLinkActive="menu__item-active"><a [routerLink]="ROUTING.Modal">Modal</a></li>
  </ul>
  </div>
