<ws-page title="Palettes">
  <div class="page__subtitle ws-text-l">Carefuly picked to meet our needs.</div>

  <div class="palettes">
    <div class="palette-item">
      <div class="palette-color"></div>
      <div class="palette-name ws-text-s">Black</div>
      <div class="palette-hex-color ws-text-s">
        <span class="color-alt">hex</span>26282A
      </div>
      <div class="palette-rgb-color ws-text-s">
        <span class="color-alt">rgb</span>38, 40, 42
      </div>
    </div>
    <div class="palette-item">
      <div class="palette-color"></div>
      <div class="palette-name ws-text-s">Primary Blue</div>
      <div class="palette-hex-color ws-text-s">
        <span class="color-alt">hex</span>00B3DC
      </div>
      <div class="palette-rgb-color ws-text-s">
        <span class="color-alt">rgb</span>0, 179, 220
      </div>
    </div>
    <div class="palette-item">
      <div class="palette-color"></div>
      <div class="palette-name ws-text-s">Fancy Gray</div>
      <div class="palette-hex-color ws-text-s">
        <span class="color-alt">hex</span>69737D
      </div>
      <div class="palette-rgb-color ws-text-s">
        <span class="color-alt">rgb</span>105, 115, 125
      </div>
    </div>
    <div class="palette-item">
      <div class="palette-color"></div>
      <div class="palette-name ws-text-s">White</div>
      <div class="palette-hex-color ws-text-s">
        <span class="color-alt">hex</span>FFFFFF
      </div>
      <div class="palette-rgb-color ws-text-s">
        <span class="color-alt">rgb</span>0, 179, 220
      </div>
    </div>
    <div class="palette-item">
      <div class="palette-color"></div>
      <div class="palette-name ws-text-s">Сoral Red</div>
      <div class="palette-hex-color ws-text-s">
        <span class="color-alt">hex</span>FF5175
      </div>
      <div class="palette-rgb-color ws-text-s">
        <span class="color-alt">rgb</span>0, 179, 220
      </div>
    </div>
    <div class="palette-item">
      <div class="palette-color"></div>
      <div class="palette-name ws-text-s">Marine Green</div>
      <div class="palette-hex-color ws-text-s">
        <span class="color-alt">hex</span>63DCBF
      </div>
      <div class="palette-rgb-color ws-text-s">
        <span class="color-alt">rgb</span>105, 115, 125
      </div>
    </div>
  </div>
</ws-page>
