<h1 class="page__title page-block__title ws-h1">Radio button</h1>
<ws-demo
  code='
  <ws-radio-button-group [(selected)]="selected" name="my-option">
    <ws-radio-button value="1">option 1</ws-radio-button>
    <ws-radio-button value="2">option 2</ws-radio-button>
    <ws-radio-button value="3">option 3</ws-radio-button>
  </ws-radio-button-group>
  '
>
  <ws-radio-button-group [(selected)]="selected" name="my-option">
    <ws-radio-button value="1">option 1</ws-radio-button>
    <ws-radio-button value="2">option 2</ws-radio-button>
    <ws-radio-button value="3">option 3</ws-radio-button>
  </ws-radio-button-group>
  selected: <code>{{selected}}</code>
</ws-demo>


