<h1 class="page__title page-block__title ws-h1">Modal</h1>

<ws-demo code="
  <ws-modal>
    <ws-modal-header title='Title'>
      some sub title
    </ws-modal-header>
    Modal Content
  </ws-modal>
">
  <ws-modal>
    <ws-modal-header title="Title">
      some sub title
    </ws-modal-header>
    Modal Content
  </ws-modal>
</ws-demo>

<ws-demo code='
  <ws-modal>
    <ws-modal-header title="Title" (back)="onBack()" (close)="onClose()">
      some sub title
    </ws-modal-header>
    Modal with header buttons
  </ws-modal>
'>
    <ws-modal>
      <ws-modal-header title="Title" (back)="onBack()" (close)="onClose()">
        some sub title
      </ws-modal-header>
      Modal with header buttons
    </ws-modal>
</ws-demo>
