.example {
  margin: 40px 0;
  background: #FFFFFF;
  border: 1px solid #F7F7F7;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;

  &__demo {
    padding: 20px;
    overflow-x: auto;
  }

  & ngx-prism {
    font-size: 13px;
  }
}


